{
    "extends": "@aam/eslint-config-aam",
    "plugins": [
        "prettier"
    ],
    "rules": {
        "react/jsx-filename-extension": 0,
        "prettier/prettier": "error"
    },
    "env": {
        "jest": true
    }
}
