@aam:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-eslint-config-aam-dev-local/
@react:registry=https://artifactory.corp.adobe.com:443/artifactory/api/npm/npm-react-release/
@spectrum:registry=https://artifactory.corp.adobe.com:443/artifactory/api/npm/npm-spectrum-release/
//artifactory.corp.adobe.com:443/artifactory/api/npm/npm-react-release/:always-auth=false
package-lock=false
