:local(.dashboardTable) {
    padding: 0.5em 0 0 0;
    margin-bottom: 1.5em;
}
:local(.tableHeader) {
    padding-left: 0.75em;
    display: inline-flex;
}
:local(.signalTypeNameHeader) {
    padding: 1.25em 0 0 1em;
}
:local(.gridColumnFlex) {
    justify-content: space-between;
    display: flex;
}
:local(.viewAllButton) {
    margin: 0.8em 2.6em 0.8em 0;
}
