:local(.tabListContainer),
:local(.tableContainer) {
    display: inline-block;
}

:local(.tabListContainer) {
    composes: borderRight from global;
    padding: 20px 0;
}

:local(.tableContainer) {
    padding: 20px;
}
