:local(.filterListContainer),
:local(.tableContainer) {
    padding: 20px;
}

:local(.filterListContainer) {
    border-right: 1px solid var(--spectrum-alias-border-color-dark);
    padding-left: 0;
}

:local(.tableContainer) {
    flex: 1;
    padding-right: 0;
}

:local(.saveSearch) {
    display: inline-flex;
}

:local(.saveSearchExecution) {
    margin-top: 2.75em;
}
