:local(.deletionAlert){
  color:var(--spectrum-semantic-notice-color-state-focus);
  margin: -0.5rem 0 -0.15rem 0.1rem
}
:local(.deletionText){
  font-weight: 300;
  font-style:normal;
  font-size:1.25rem;
}
:local(.deletionTextDialog){
  padding: 0.985rem
}
:local(.metricsTitle){
  font-weight: var(--spectrum-global-font-weight-black);
  font-style:normal;
  font-size:var(--spectrum-body-small-font-size-default);
  color:var(--spectrum-global-color-grey500);
}
:local(.contextHeading){
  font-weight: var(--spectrum-global-font-weight-light);
  margin-top: -0.25rem;
  font-style:normal;
  font-size:var(--spectrum-global-font-size-medium);
}
:local(.contextData){
  display: inline-block;
  color:var(--spectrum-semantic-positive-color-status);
  font-size:var(--spectrum-global-font-size-xlarge);
  font-weight: var(--spectrum-global-font-weight-light);
  margin-top: -0.5rem;
}
:local(.lifeTimeAddressableAudience){
  margin-top: 0.85rem;
}
:local(.activationButton){
  font-weight: var(--spectrum-global-font-weight-normal);
  max-width: 1.25rem;
}

:local(.actions){
  margin-left: -0.95rem;
}
