:local(.inline-block) {
    display: inline-block;
    margin-right: 10px;
    vertical-align: bottom;
}

:local(.label) {
    display: block;
    margin: 6px 0;
    font-size: 0.75rem;
    transition: color 150ms ease-in-out;
    color: #707070;
}
