@import '~@spectrum/spectrum-variables/css/spectrum-light.css';

/* Manually calculated. */
:root {
    --top-nav-height: 3.25rem;
    --footer-height: 3.375rem;
}

:local(.grid) {
    overflow: auto;
    min-height: calc(100vh - var(--top-nav-height) - var(--footer-height));
}

:local(.flexAlignBottom) {
    display: flex;
    align-items: baseline;
    margin-bottom: 1rem;
}

:local(.message) {
    margin-left: 1rem;
}

:local(.entry) {
    margin: 2.75rem 0 0 0.1rem;
}

:local(.betaTag) {
    display: inline-box;
}

:local(.tourGuide) {
    margin-left: 0.85rem;
}

:local(.dataExplorerDocumentationLink) {
    text-align: right;
}
