:local(.row) {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

:local(.rowButtons) {
    margin-top: 25px;
    padding-left: 120px;
}

:local(.ctas) {
    display: flex;
    align-items: end;
}

:local(.error) {
    float: right;
    margin-top: 8px;
}

:local(.fieldLabel) {
    margin-right: 20px;
}

:local(.removeButton) {
    margin-left: 0 !important;
}

@media only screen and (min-width: 768px) {
    :local(.rowButtons) {
        padding-left: 225px;
    }
}
@media only screen and (min-width: 304px) and (min-width: 768px) {
    :local(.rowButtons) {
        padding-left: 290px;
    }
}
