:local(.singleCreationlinkText) {
    display: inline-flex;
    font-size: 0.875rem;
    padding-left: 0.15em;
    vertical-align: text-bottom;
}

:local(.singleCreation) {
    cursor: pointer;
    margin-left: -1.05em;
    white-space: nowrap;
}

:local(.multiCreation) {
    display: flex;
    justify-content: flex-end;
}

:local(.message) {
    display: flex;
    padding: 0.5em;
    font-weight: 800;
    white-space: nowrap;
}
