$spectrum_darkest_gray_100: #1e1e1e;
$spectrum_darkest_gray_700: #858585;
$spectrum_darkest_gray_900: #e2e2e2;
$spectrum_global_color_blue_600:#326ec8;
$white: #ffffff;

%SubNavItem {
    color: $spectrum_darkest_gray_700;
    background-color: inherit;
    &:hover {
        color: $spectrum_darkest_gray_900;
        background-color: inherit;
        text-decoration: none;
    }
}

.subNav {
    z-index: 10; /*
        for some older apps, like Traits, that have the z-index
        set for the page top action buttons, which may interference with the SubNav
    */
    position: relative;

    &-anchorlist {
        position: absolute;

        // mimicking spectrum styles
        padding: 14px;
        background-color: $spectrum_darkest_gray_100;

        .coral3-BasicList-item-contentContainer {
            width: auto;
            coral-tag{
              display: inline-flex;
              background-color:$spectrum_global_color_blue_600;
              border-radius: 100px/100px;
              margin-left: 5px;
            }
        }

        &:hover {
            a[is='coral-anchorlist-item'] {
                @extend %SubNavItem;
            }
        }

        a[is='coral-anchorlist-item'] {
            @extend %SubNavItem;
        }
    }
}

.coral-Shell coral-shell-header-content {
    display: flex;
    justify-content: space-between;
    overflow: hidden; // FIXME: make it collapse, AAM-36683
}

[is='coral-shell-workspace'] {
    letter-spacing: 0.5px; // Yaya requested this
    coral-icon[icon='chevronDown'] {
        padding-left: 8px;
    }
    // mimicking spectrum styles
    background-color: $spectrum_darkest_gray_100;
    &:hover {
        text-decoration: none;
    }
    &:focus {
        border-color: $white;
        color: $white;
    }
}

// for signals
coral-shell-menu#menu_solutions {
    width: 100%;
}
