:local(.row) {
    composes: flexAlignBottom from './Layout.css';
    flex-wrap: wrap;
}

:local(.ctas) {
    display: flex;
    align-items: flex-end;
}

:local(.error) {
    float: right;
    margin-top: 8px;
}
