:local(.row) {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

:local(.rowButtons) {
    margin-top: 25px;
}

:local(.ctas) {
    display: flex;
    align-items: end;
}

:local(.error) {
    float: right;
    margin-top: 8px;
}
