:local(.traitsPopover) {
    margin-left: -1.25em;
}
:local(.truncate) {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
:local(.sourceName) {
    max-width: 12.15em;
}
:local(.signalType) {
    display: inline-flex;
    margin-left: -0.245em;
    min-width: 9em;
    vertical-align: text-bottom;
}
:local(.keyValuePairs) {
    width: 100%;
}
