:local(.traitsPopover) {
    margin-left: -1.25em;
}
:local(.truncate) {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
:local(.sourceName) {
    max-width: 200px;
}
:local(.keyValuePairs) {
    width: 100%;
}
