:local(.sections) {
    margin: 10px auto 10px auto;
}

:local(.dialog) {
    width: 60%;
    max-width: 600px;
}

:local(.email_input) {
    width: 100%;
}

:local(.platform_dropdown_section) {
    display: flex;
    align-items: center;
}

:local(.platform_dropdown_section) > * {
    margin-right: 15px;
}

:local(.platform_email_section) {
    display: flex;
    align-items: center;
}

:local(.platform_email_section) > * {
    margin: 10px 2px;
}

p {
    margin: 3px;
}
