:local(.sections) {
    margin: 10px auto 10px auto;
}

:local(.dialog) {
    width: 60%;
    max-width: 600px;
}

:local(.iframe) {
    background-color: white;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 300px;
}

:local(.iframe_default_text) {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    font-weight: 200;
}

:local(.email_input) {
    width: 100%;
}

:local(.platform_dropdown_section) {
    display: flex;
    align-items: center;
}

:local(.platform_dropdown_section) > * {
    margin: 5px;
}

p {
    margin: 3px;
}

:local(.menuOption){
  min-width: 120px;
}
