:local(.sections) {
    margin: 10px auto 10px auto;
}

:local(.dialog) {
    width: 60%;
    max-width: 600px;
}

:local(.emailInput) {
    width: 100%;
}

:local(.platformDropdownSection) {
    display: flex;
    align-items: center;
}

:local(.platformDropdownSection) > * {
    margin-right: 15px;
}

:local(.platformEmailSection) {
    display: flex;
    align-items: center;
}

:local(.platformEmailSection) > * {
    margin: 10px 2px;
}

:local(.modalMessage) {
    margin: 3px;
}
