:local(.nav) {
    list-style: none;
    text-transform: uppercase;
}

:local(.nav li) {
    padding: 10px;
    margin: 10px 0;
}

:local(.nav li a) {
    padding: 10px;
    text-decoration: none;
}

:local(.active) {
    border-left: 3px solid #333;
}
