:local(.destinationContainer){
  display: flex;
  min-height: calc(115vh - var(--top-nav-height) - var(--footer-height) - var(--offset) );
}

:local(.searchText){
  width: 25rem;
}
:local(.filterListContainer) {
    flex: 0 0 10em;
    border-right: 1px solid var(--spectrum-alias-border-color-dark);
}

:local(.tableContainer) {
    flex: 1;
    padding-top: 1rem;
    min-height: 20rem;
}
